
<section class="container mx-auto  pt-20 px-14">
    <div class=" flex flex-col space-x-8  mx-auto text-center lg:flex-row justify-between w-full">
        <div class="flex flex-col lg:space-x-8  mx-auto text-center lg:flex-row justify-between container lg:w-1/2 w-full">
       
            <div class="lg:flex-row ">
                <h1 class="text-4xl font-bold text-left text-blue-700 mb-3">
                    About
                </h1>
                <p class="text-justify  leading-loose">
                    Startup Titan Programme is envisaged to support startups through sector specific Incubators/Accelerators/CoEs, who are experts and highly specialized in supporting certification and compliances services to startups to access their markets nationally or globally.
    
                    Startups who are interested to avail this support from KSUM, may apply through an expert incubator. Maximum support available under this scheme Rs.15 Lakhs. The applications may be submitted by the Incubator only.            </p>
               
            </div>
        </div>
     
        <div class="flex flex-col lg:flex-row lg:w-1/2 w-full mx-auto container">
            <img src="img/img2.jpeg">
        </div>
    </div>

</section>



<section class="container mx-auto pt-10">

    <div>
        
        <div class="flex flex-col mt-2 lg:flex-row px-12">
            <div class="flex flex-col  lg:w-1/2">
                
                <h5 class="text-xl text-blue-700 font-bold">Certifications for products / equipments support</h5>
                <!-- <span class="p-0.5 bg-blue-600 item-center"></span> -->
                
                <ul class="lg:pl-11 w-5/6">
                    <br>
                    <li>FCC, CE, BSI, RoHS, Bluetooth SIG, UL/CSD etc</li>
                    <li>ISO Certifications for products/equipments</li>
                    <li>ICMEDS, MDR, FDA, HIPPA etc</li>
                    <li>ARAI, Key EV Standards under Safety, Connector, Charging & communication</li>
                    <li>SEMI Testing & Certifications</li>
                    <li>Any other certifications found potential for product launch & commercialization</li>
                  </ul>
                <p class="text-xl text-blue-700 font-bold">Exemptions</p>
                  <ul class="lg:pl-11">
                    <br>
                    <li>No personnel level and Organizational level certifications .</li>
                  </ul>
            </div>

        

            <div class="flex flex-col  lg:w-1/2">
                
                <h5 class="text-xl text-blue-700 font-bold">Financial Support to Incubators & Startups</h5>
                <!-- <span class="p-0.5 bg-blue-600 item-center mx-auto w-3/4"></span> -->
                
                <ul class="lg:pl-11 text-justify">
                    <br>
                    <li>Each Incubator/Accelerators will be financially supported by a grant amount upto Rs.50 Lakhs per year, which will be released in installments as per the project proposal approved by KSUM. </li>
                    <li>The amount so given to the Incubator, shall be provided to eligible startups who are pursuing for the certifications</li>
                    <li>Maximum Support available for a startup under this scheme is Rs.15 Lakhs for a startup</li>
                    <li>The Incubator is also eligible for a management fee of 5% of the total grant sanctioned to the Incubator, towards implementing this project. The Incubator grant will be inclusive of the 5% management fee</li>
                   
                  </ul>

            </div>
        </div>
    </div>
</section>

<style>
    ul {
  list-style-type:'\2713';

}
li{
    padding-left: 10px;
}
</style>


<style>
 h1,h2,h3,h4,h5,h6{
    font-family: "Righteous", Arial, Helvetica, sans-serif;
    }
</style>



