<section class=" container mx-auto px-5 gap-8">
    <div class=" flex flex-col space-x-8  mx-auto text-center lg:flex-row justify-between">
        <div class="flex flex-col lg:space-x-8  mx-auto text-center lg:flex-row justify-between container">
       
            <div class="w-full   lg:flex-row ">
                <h1 class="text-5xl font-bold text-left text-blue-700 mb-3">
                    About
                </h1>
                <p class="text-justify text-2xl leading-loose">
                    Startup Titan Programme is envisaged to support startups through sector specific Incubators/Accelerators/CoEs, who are experts and highly specialized in supporting certification and compliances services to startups to access their markets nationally or globally.
    
                    Startups who are interested to avail this support from KSUM, may apply through an expert incubator. Maximum support available under this scheme Rs.15 Lakhs. The applications may be submitted by the Incubator only.            </p>
               
            </div>
        </div>
    
        <div  class="container flex flex-col   lg:flex-row">
            <img src="img/img2.jpeg">
        </div>
    </div>

</section>

<style>
 h1,h2,h3,h4,h5,h6{
    font-family: "Righteous", Arial, Helvetica, sans-serif;
    }
</style>



