
<section>
    <div class="footer h-full w-full mt-12 pb-16" >
        <div class=" flex flex-col lg:flex-row">
            <div class="w-1/2">
                <img src="img/logo-white.svg" class=" pt-16 mx-auto">
                <p class=" text-white text-lg  mx-auto text-center">G3B, Thejaswini, Technopark Campus,</p>
                <p class=" text-white text-lg  mx-auto text-center">Trivandrum, Kerala 695581</p>
                
            </div>
            <div class="w-1/2"></div>
        </div>
        
    </div>
</section>


<style>
     .footer{
	--tw-bg-opacity: 1;
    background-color: rgb(15 23 42/var(--tw-bg-opacity));
}

</style>