<section class="container mx-auto">

    <div>
        
        <div class="flex flex-col mt-2 lg:flex-row lg:space-x-6">
            <div class="flex flex-col p-6 space-y-12 space-x-8 lg:w-1/2 leading-relaxed">
                
                <h5 class="text-3xl text-blue-700 font-bold text-center">Certifications for products / equipments support</h5>
                <span class="w-full p-0.5 bg-blue-600"></span>
                
                <ul class="text-justify text-2xl space-y-7">
                    <li>FCC, CE, BSI, RoHS, Bluetooth SIG, UL/CSD etc</li>
                    <li>ISO Certifications for products/equipments</li>
                    <li>ICMEDS, MDR,FDA, HIPPA etc</li>
                    <li>ARAI, Key EV Standards under Safety, Connector, Charging & communication</li>
                    <li>SEMI Testing & Certifications</li>
                    <li>Any other certifications found potential for product launch & commercialization</li>
                  </ul>
                <p class="text-2xl text-blue-700 font-bold text-left">Exemptions</p>
                  <ul class="text-justify text-2xl">
                    <li>No personnel level and Organizational level certifications .</li>
                  </ul>
            </div>

          

            <div class="flex flex-col items-center p-6 space-y-12 lg:w-1/2 leading-relaxed">
                
                <h5 class="text-3xl text-blue-700 font-bold">Financial Support to Incubators & Startups</h5>
                <span class="w-full p-0.5 bg-blue-600"></span>
                
                <ul class="text-justify text-2xl list-outside space-y-7">
                    <li>Each Incubator/Accelerators will be financially supported by a grant amount upto Rs.50 Lakhs per year, which will be released in installments as per the project proposal approved by KSUM. </li>
                    <li>The amount so given to the Incubator, shall be provided to eligible startups who are pursuing for the certifications</li>
                    <li>Maximum Support available for a startup under this scheme is Rs.15 Lakhs for a startup</li>
                    <li>The Incubator is also eligible for a management fee of 5% of the total grant sanctioned to the Incubator, towards implementing this project. The Incubator grant will be inclusive of the 5% management fee</li>
                   
                  </ul>

            </div>
        </div>
    </div>
</section>

<style>
    ul {
  list-style-type:'\2713';

}
li{
    padding-left: 10px;
}
</style>